{{> head }}

{{>navbar }}

<div class="row">
    <div class="col-8">
        <h1>Tarea parciales HBS</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum eaque ex accusantium veritatis repudiandae at iure nihil, voluptas pariatur earum eligendi delectus dolorem quas iusto ab corrupti temporibus magnam quo?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/node.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}